
#aside {
	height: 100vmax;
	position: relative;
}

.eleve {
	background: linear-gradient(rgb(72, 191, 170), rgb(153, 255, 230));
}

.prof {
	background: linear-gradient(#9966FF, #CCCCFF);
}

#asideContent > * {
	margin: 10px;
}

#niveaux_eleve ul {
	list-style: none;
	padding-left: 0;
	font-size: 15px;	
	
}

#profil {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

#profilMenu {
	list-style-type: none;
	padding-left: 0;
	margin-top: 90px;
	font-size: 16px;
}
#profilMenu li {
	padding: 6px;
	cursor: pointer;
}


@media ( max-width : 500px) {
	#profilMenu {
		list-style-type: none;
		margin-top: 10px;
	}
}

#profilMenu li:hover {
	background-color: rgba(255,255,255,0.3);
}

#profilMenu li .glyphicon {
	padding-right: 10px;
	margin: 0px;
	font-size: 20px;
	color: #333333;
}

#profilPicture {
	width: 120px;
	height: 120px;
	border-radius: 60px;
}

#divLogin span {
	font-size: 20px;
}

#divPremium {
	font-size: 16px;
	position: absolute;
	bottom: 30px;
}

#divPremium p, #divPremium  span {
	display: inline-block;
	vertical-align: middle;
}

#login_header {
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loginform {
	text-align: center;
	padding: 50px;
	background-color: rgba(220, 220, 220, 0.9);
	border-radius: 15px;
}

.badge.bravo {
	background-color: #008000;
}


input[type="submit"]:hover, input[type="button"]:hover, button:hover {
	background-color: midnightblue;
	color: white;
}

#loginWindow {
	background-image: url("../images/wallpaper.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#inscription {
	text-align: center;
	margin: 30px;
}

#inscription fieldset {
	height: 100vh;
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	margin-top: 80px;
}

#inscription form {
	text-align: center;
	padding: 50px;
	background-color: rgba(220, 220, 220, 0.5);
	border-radius: 15px;
}

.window {
	background-image: url("../images/bluewallpaper.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

/* INSCRIPTION COURS */
.cours.inscription button,
.cours.inscription input[type="button"],
.cours.inscription input[type="submit"] {
	margin-left: 45px;
}

.tab-content.cours {
	background-color: rgba(255,255,255,0.7);
	padding: 14px 0;
}

#my-cours a {
	
	font-size: 1.3em;
	line-height: 1.7em;
}



#cour_langue {
	margin-left: 4px;
	margin-top:10px;
}

#cour_langue .nav nav-tabs a {
	font-weight: bold;
	
}

#cour_langue {
	text-decoration: underline;
	color: #17827d;
}

#evaluation {
	margin-top:10px;
	font-size: medium;
	font-weight: bold;
}

/* suivi */

.suivi-eleve .mes-cours .cours {
	padding: 5px;
}
.suivi-eleve .mes-cours .cours h3 {
	margin-top: 0;
}
.suivi-eleve .mes-cours .cours:hover {
	background: rgba(255,255,255,0.5);
}

/* MESSAGERIE */

.btn-rafraichir{
	/*display: none;*/
}

.conversations{
	height: 100vmax;
	background-color: white;
}

.messages-affiche{
	margin-top: 50px;
	position: relative;
	height: 100vmax;
}

.ecrire-message {
	/*position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;*/
	width: 100%;
}

.ecrire-message div {
	display: inline-block;
	/*bottom: 0px;*/
}

#champs-envoi-div{
	width: 80%;
}

.message{
	border-radius: 10px;
	margin : 5px;
	padding : 10px;
	max-width: 70%;
}

/* .messages{ */
/* 	overflow: scroll; */
/* 	height:85%; */
/* } */

.myself{
	background-color: lightgreen;
	text-align: right;
	position: relative;
	right: -20%;
}



.other{
	background-color: lightblue;
	
	
}

#titreConversation{
	text-align: center;
}

.nomAuteur, .date-lecture{
	display: block;
	font-style: italic;
	color: grey;
	font-weight: 100;
	font-size: 12px;
}


/* DIVERS */

input.btn-refresh-nb-messages {
	display: none;
	font-size: 3em;
}









